body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:auto;
    height: 100vh;
    margin: 0;
    font-family: 'Nuosu SIL', serif;
    color: rgb(46, 46, 46);
    background-color: whitesmoke;
}

div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.spacer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7em;
}

.logo {
    height: 4em;
    width: 4em;
}

#header {
    height: 6em;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    /* border-bottom-style: solid; */
    border-bottom-width: 3px;
    border-bottom-color: rgb(0,200,199);
}
#header h1 {
    font-size: 3em;
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin: 0px;
    margin-top: -3px;
}

#game-section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    flex: auto;
}

#gameplay-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 35px; */
    /* align-items: center; */
    flex: auto;
    /* display: grid;
    grid-area: auto; */
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    margin: 35px;
    /* box-shadow: 0 0 5px rgb(46, 46, 46); */
}

.score {
    font-size: 2em;
    color:rgba(245, 245, 245, 0.534);
}

.card-section {
    flex: 1 1 0;
    display: flex;
    align-items: center;
}

.card-section.one {
    align-items: flex-end;
}

.card-section.three {
    justify-content: center;
    /* margin-left: -1em; */
    gap: 10em;
    align-items: flex-start;
}

h2 {
    font-size: 3em;
    margin: .5em;
}
h2.small {
    font-size: 2.5em;
}

button {
    font-size: 3em;
    font-family: 'Nuosu SIL', serif;
    /* background-color: rgb(26, 26, 26); */
    background-color: rgb(46, 46, 46);
    color: rgb(46, 46, 46);
    /* color: rgb(0,200,199); */
    padding: 0em .5em;
    padding-bottom: .25em;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(46, 46, 46);
    border-style: solid;
}

#button-group {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 35px;
}

#button-group button {
    font-size: 2.5em;
    width: 4.5em;
}

button.fade-in {
    animation: fadeIn .5s;
    background-color: rgb(27, 27, 27);
    border-color: rgb(27, 27, 27);
    color: whitesmoke;
}

button:hover {
    background-color: rgb(27, 27, 27);
    border-color: rgba(245, 245, 245, 0.25);
}
button:active {
    transition: 0.07s;
    transform: scale(1.01);
    border-style: solid;
    border-color: rgb(255, 194, 80);
}

.message {
    color: rgb(46, 46, 46);
}

.message.fade-in {
    animation: fadeIn .5s;
    color: whitesmoke;
}

.message.fade-in.disappear-slow {
    color:rgb(46, 46, 46);
    background-color: rgb(46, 46, 46);
    border-color: rgb(46, 46, 46);
    transition: color .5s, background-color .4s, border-color.4s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opactiy: 100; }
}

.fade-in.disappear {
    color:rgb(46, 46, 46);
    background-color: rgb(46, 46, 46);
    border-color: rgb(46, 46, 46);
    transition: color .3s, background-color .25s, border-color.25s;
}

.fade-in.disappear-slow {
    color:rgb(46, 46, 46);
    background-color: rgb(46, 46, 46);
    border-color: rgb(46, 46, 46);
    transition: color .5s, background-color .4s, border-color.4s;
}

button:hover.disappear {
    color:rgb(46, 46, 46);
    background-color: rgb(46, 46, 46);
    border-color: rgb(46, 46, 46);
    transition: color .3s, background-color .25s, border-color.25s;
}

button:hover.fade-in.disappear {
    color:rgb(46, 46, 46);
    background-color: rgb(46, 46, 46);
    border-color: rgb(46, 46, 46);
    transition: color .3s, background-color .25s, border-color.25s;
}

/* rgb(0,200,199) */